<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">

    <div class="row" style="padding-top:30px;">
        <!--div class="col-lg-8 col-8"-->
		<div class="col-lg-8">
			
            <!--滚动窗口-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img class="w-100" src="/static/img/img01.jpg" style="height:299px" alt="我是傻瓜..">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="w-100" src="/static/img/img02.jpg" style="height:299px" alt="你是傻瓜..">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="w-100" src="/static/img/img03.jpg" style="height:299px"  alt="他是傻瓜..">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="w-100" src="/static/img/img04.jpeg" style="height:299px" alt="我们都是傻瓜!">
                        </a>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <!--最新最热排序-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        {% if order != 'total_views' %}
                        <span style="color: gray">最新</span>
                        {% else %}
                        <a href="{% url 'article:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                            最新
                        </a>
                        {% endif %}
                    </li>
                    <li class="breadcrumb-item">
                        {% if order == 'total_views' %}
                        <span style="color: gray">最热</span>
                        {% else %}
                        <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                            最热
                        </a>
                        {% endif %}
                    </li>
                </ol>
            </nav>

			
            <!-- 新增，搜索提示语 -->
            {% if search %}
            {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
            {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
            {% endif %}
            {% endif %}
            <!-- 列表循环 -->
            <div>
                {% for article in articles %}
                <div class="card mb-2 hvr-glow" style="display: flex">
                    <div class="row no-gutters align-items-center">
        <!-- 标题图 -->
                        {% if article.avatar %}
                        <div class="col-4 d-none d-md-block" style="overflow: hidden">
                            <img src="{{ article.avatar.url }}"
                                 alt="avatar"
                                 style="max-width:100%; border-radius: 7px; transition-duration: 1s;" class="card-img hvr-grow"
                            >
                        </div>
                        {% endif %}
                        <!-- 文章内容 -->
                        <div class="col">
                            <!-- 栏目 -->
                            <div class="card-body">
                                {% if article.column %}
                                <a  role="button"
                    href="{% url 'article:article_list' %}?column={{ article.column.id }}"
                    class="btn btn-sm mb-2
                        {% if article.column.title == 'Django' %}
                            btn-success
                        {% elif article.column.title == 'Python' %}
                            btn-danger
                        {% elif article.column.title == 'Linux' %}
                            btn-warning
                        {% endif %}
                    "
                >
                    {{ article.column }}
                </a>
                                {% endif %}
                                <!-- 标签 -->
                                <span>
                                    {% for tag in article.tags.all %}
                                    <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                                       class="badge badge-secondary"
                                    >
                                        {{ tag }}
                                    </a>
                                    {% endfor %}
                                </span>
                                <!-- 标题 -->
                                <h5>
                                    <b>
                                        <a href="{% url 'article:article_detail' article.id %}">
                                            {{ article.title }}
                                        </a>
                                    </b>
                                </h5>
                                <!-- 摘要 -->
                                <div>
                                    <p style="color: gray;margin-bottom: 0rem">
                                        {{ article.body|slice:'100' }}...
                                    </p>
                                </div>
                                <!-- 注脚 -->
                                <p style="margin-bottom: 0rem">
                                    <!-- 附加信息 -->
                                    <span>
                                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                                        {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                                    </span>
                                    <span>
                                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                                    </span>
                                    <span>
                                        <i class="fas fa-clock" style="color: pink;"></i>
                                        <!-- 旧代码
                                            {{ article.created|date:'Y-m-d' }}
                                            -->
                                        {{ article.created|timesince_zh }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                        <!--hr style="width: 100%;"/-->
                {% endfor %}
            </div>

            <!-- 页码导航 -->
            <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if articles.has_previous %}
                <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ articles.number }}
                </span>
                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
                {% endif %}
            </span>
        </div>
    </div>

        </div>
        <!--div class="col-lg-4 col-4"-->
		<div class="col-lg-4">
            <!--个人空间-->
            <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-lg-block" id="home-card">
                <div class="card-header bg-white px-0">
                    <strong><i class="fa fa-paper-plane mr-2 f-17" style="color: lightskyblue;"></i>个人空间</strong>
                </div>
                <div class="card-body px-0 pt-3 pb-1">
                    <div class="row text-center">
                        <div class="col">
                            <a href="https://github.com/liuyao01/django_myblog" target="_blank" title="进入博主的Github查看博客源码">
                                <img style="max-width:40px" alt="博主的github" src="/static/img/github.png">
                                <p class="mt-2">Github</p>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/article/about" target="_blank" title="查看网站相关">
                                <img style="max-width:40px" alt="关于网站" src="/static/img/blog.jpg">
                                <p class="mt-2">About</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--文章分类-->
            <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="category-card">
                <div class="card-header bg-white px-0">
                    <strong><i class="fa fa-book mr-2 f-17" style="color: lightskyblue;"></i>文章分类</strong>
                </div>

                <ul class="list-group list-group-flush f-16">

                    <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
                        <a class="category-item" href="{% url 'article:article_list' %}?column=1"
                           title="查看【Python】分类下所有文章">Python</a>
                        <span class="badge text-center" title="当前分类下有{{total_python}}篇文章">{{total_python}}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
                        <a class="category-item" href="{% url 'article:article_list' %}?column=2"
                           title="查看【Linux】分类下所有文章">Linux</a>
                        <span class="badge text-center" title="当前分类下有{{total_linux}}篇文章">{{total_linux}}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
                        <a class="category-item" href="{% url 'article:article_list' %}?column=3"
                           title="查看【Django】分类下所有文章">Django</a>
                        <span class="badge text-center" title="当前分类下有{{total_django}}篇文章">{{total_django}}</span>
                    </li>
                </ul>
            </div>
            <!--友链-->
            <div class="d-none d-lg-block">
                <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="friends-card">
                    <div class="card-header bg-white px-0">
                        <strong><i class="fa fa-link mr-2 f-17" style="color: lightskyblue;"></i>常用链接</strong>
                    </div>
                    <div class="card-body px-0 py-3">
                        <div class="tool-list">
                            <div class="w-50 float-left text-center mb-2">
                                <div class="mx-2">
                                    <a href="http://markdown.xiaoshujiang.com/" title="小书匠markdown" target="_blank">
                                        小书匠</a>
                                </div>
                            </div>

                            <!--div class="w-50 float-left text-center mb-2">
                                <div class="mx-2">
                                    <a href="https://zmrenwu.com" title="Django 博客教程分享者" target="_blank">
                                        追梦人物</a>
                                </div>
                            </div-->

                            <div class="w-50 float-left text-center mb-2">
                                <div class="mx-2">
                                    <a href="https://sm.ms/" title="免费的在线图片存储网站" target="_blank">
                                        SM.MS</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
{% endblock content %}